@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

body {
  height: 100vh;
  font-family: 'Dosis', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

article {
  background-color: white;
  width: 375px;
  box-shadow: 0 0 25px #3d3d3d;
  border-radius: 20px;
  background-image: url(/images/greenswirls.jpg);
  padding-bottom: 20px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*background-image: url(/images/greenswirls.jpg);*/
  padding: 0 1em;
  border-radius: 20px 20px 0 0;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  /*background-image: url(/images/greenswirls.jpg);*/
}

#info-background {
  /*background-image: url(/images/greenswirls.jpg);*/
  background-color: rgba(186, 202, 196);
  padding: 0 80px 0px 80px;
  border-radius: 20px;
}

img {
  border-radius: 50%;
  border: 5px solid white;
}

#name {
  color: white;
  font-size: 40px;
  letter-spacing: 5px;
  font-weight: 800;
  padding: 0 0 0 10px;
}

.list {
  list-style: none;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-size: 20px;
  font-weight:600;
  color: rgb(0, 0, 0);
  margin: 0;
  padding: 1em;
}

h2 {
  margin-bottom: 0;
  padding: 4px;
  /*text-decoration: underline solid 1.5px rgb(255, 255, 255);*/
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 3px;
  border-radius: 20px;
  background-image: url(/images/greenswirls.jpg);
  background-size: cover;
}

#buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 30px;
}

a:visited { 
  text-decoration: none; 
  color: rgb(0, 0, 0); 
 }